:root {
    --primary-color: #EBE7E7;
    --secondary-color: #6B1294;
    --color-secondary: #cf8ceea9;
    --secondary-color-hover: #611186;
    --text-color: #0F0F0F;
    --stroker: #a0a0a0;
    --hover-roxo: #e09eff96;
    --corBranca: #FFFFFF;
}

body {
    background-color: var(--primary-color);
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#container-left {
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

#container-right {
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem 0;
    /* Adiciona margem interna no topo e no bottom */

}

.login-form .logo {
    max-width: 400px;
}

.divider {
    text-align: center;
    font-size: 0.9rem;
    color: var(--text-color);
    font-weight: bold;
}

.login-image img {
   
    width: 100%;
    /*td largura container*/
    height: 100%;
    object-fit: cover;
    transform: translateX(-10%);
}

.welcome {
    color: var(--text-color);
    font-size: 1.3rem;
    margin-top: -1rem;
    margin-left: 2rem;
    /*ref logo lumina*/
    margin-bottom: 2rem;
    /* ref campo de login*/
}

#forgetPassword {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 0.9rem;
    text-align: right;
    margin-bottom: 1rem;

}

#btn-cadastrar {
    color: var(--secondary-color);
    font-weight: bold;

}

#p-conta {
    color: var(--text-color);
    font-weight: bold;
}

#campoLogin {
    border-radius: 12px;
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    padding: 10px;
    width: 100%;
    margin-bottom: 1rem;
    /*margin text*/
    font-size: 1rem;
    color: var(--text-color);
}

#campoSenha {
    border-radius: 12px;
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    padding: 10px;
    width: 100%;
    margin-bottom: 1rem;
    /*margin text*/
    font-size: 1rem;
    color: var(--text-color);
}

#btn-entrar {
    border-radius: 12px;
    background-color: var(--secondary-color);
    color: var(--corBranca);
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

#btn-entrar:hover {
    background-color: var(--secondary-color-hover);
}

#btn-google,
#btn-microsoft {
    border-radius: 12px;
    /* Mesmo raio do botão Entrar */
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#btn-google,
#btn-microsoft {
    border-radius: 12px;
    /* Mesmo raio do botão Entrar */
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

#btn-google {
    background-color: var(--color-secondary);
    color: var(--text-color);

}

#btn-google:hover {
    background-color: var(--hover-roxo);
}

#btn-microsoft {
    background-color: var(--color-secondary);
    color: var(--text-color);

}


#btn-microsoft:hover {
    background-color: var(--hover-roxo);
}

.btn-logo {
    width: 20px;
    height: 20px;
    object-fit: contain;

}

.form-floating {
    position: relative;
}

.form-floating input {

    padding: 1rem 0.75rem;

    font-size: 1rem;

    border-radius: 12px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.form-floating label {
    position: absolute;
    top: 0.8rem;
    /*txt - borda superior*/
    left: 0.75rem;
    padding: 0 0.25rem;
    /*espaçamento redor txt */
    font-size: 1rem;
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    /*rótulo flutuante n interferir ao clicar no botao*/
    z-index: 1;
    /*txt acima borda*/
}

.form-floating input:focus {
    border-color: var(--secondary-color);
    outline: none;
}

.form-floating input:focus+label,
.form-floating input:not(:placeholder-shown)+label {
    top: -0.6rem;
    /*txt - borda superior*/
    left: 0.75rem;
    font-size: 0.8rem;
    color: var(--secondary-color);
    font-size: 0.75rem;
    padding: 0 0.25rem;
    /*garante que o texto não "corte" a borda*/
}