:root {
    --primary-color: #EBE7E7;
    --secondary-color: #6B1294;
    --bck-campo: #cf8ceea9;
    --secondary-color-hover: #611186;
    --text-color: #0F0F0F;
    --red-color: #c71c1c;
    --red-color-hover: #ad1e1e;
    --blue-color: #1e52a0;
    --blue-color-hover: #1a4688;
    --corBranca: #FFFFFF;
}

body {
    background-color: var(--primary-color);
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#container-left {
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

#container-right {
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem 0; /* Adiciona margem interna no topo e no bottom */

}

.login-form .logo {
    max-width: 400px;
}

.divider {
    text-align: center;
    font-size: 0.9rem;
    color: var(--text-color);
    font-weight: bold;
}

.login-image img {
    border-radius: 12px;
    width: 100%; /* Faz a imagem ocupar toda a largura do container */
    height: 100%; /* Faz a imagem ocupar toda a altura do container */
    object-fit: cover; /* Garante que a imagem preencha o container sem distorção */
     transform: translateX(-10%); /* Move a imagem 5% para a esquerda */
}

.welcome {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0;
    /*ref logo lumina*/
    margin-bottom: 2rem;
    /* ref campo de login*/
}

#forgetPassword {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 0.9rem;
    text-align: right;
    margin-bottom: 1rem;
    text-decoration: none;
}

#btn-cadastrar {
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: none;
}

#p-conta {
    color: var(--text-color);
    font-weight: bold;
}

#campoLogin {
    border-radius: 12px;
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    padding: 10px;
    width: 100%;
    margin-bottom: 1rem;
    /*margin text*/
    font-size: 1rem;
    color: var(--text-color);
}

#campoSenha {
    border-radius: 12px;
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    padding: 10px;
    width: 100%;
    margin-bottom: 1rem;
    /*margin text*/
    font-size: 1rem;
    color: var(--text-color);
}

#btn-entrar {
    border-radius: 12px;
    background-color: var(--secondary-color);
    color: var(--corBranca);
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

#btn-entrar:hover {
    background-color: var(--secondary-color-hover);
}

#btn-google,
#btn-microsoft {
    border-radius: 12px;
    /* Mesmo raio do botão Entrar */
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

#btn-google,
#btn-microsoft {
    border-radius: 12px;
    /* Mesmo raio do botão Entrar */
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

#btn-google {
    background-color: var(--red-color);
    color: var(--corBranca);
}

#btn-google:hover {
    background-color: var(--red-color-hover);
}

#btn-microsoft {
    background-color: var(--blue-color);
    color: var(--corBranca);
}

#btn-microsoft:hover {
    background-color: var(--blue-color-hover);
}

.btn-logo {
    width: 20px;
    /* Ajuste o tamanho da logo */
    height: 20px;
    /* Mantém a proporção */
    object-fit: contain;
    /* Garante que a imagem não fique distorcida */
}

.form-floating {
    position: relative;
}

.form-floating input {
    /*  height: 1rem; /* Altura do campo */
    padding: 1rem 0.75rem;
    /* Espaçamento interno */
    font-size: 1rem;
    /* border: 2px solid var(--secondary-color); /* Borda do input */
    border-radius: 12px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.form-floating label {
    position: absolute;
    top: 0.8rem;
    /*txt - borda superior*/
    left: 0.75rem;
    padding: 0 0.25rem;
    /*espaçamento redor txt */
    font-size: 1rem;
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    /*rótulo flutuante n interferir ao clicar no botao*/
    z-index: 1;
    /*txt acima borda*/
}

.form-floating input:focus+label,
.form-floating input:not(:placeholder-shown)+label {
    top: -0.6rem;
    /* Move o texto para fora do input */
    font-size: 0.75rem;
    /* Reduz o tamanho do texto */
    color: var(--secondary-color);
    /* Altera a cor do texto */
    background-color: var(--primary-color);
    /* Mantém o fundo igual ao input */
    padding: 0 0.25rem;
    /* Garante que o texto não "corte" a borda */
}