/* src/pages/LoginPage/LoginPage.module.css */

:root {
    --primary-color: #EBE7E7;
    --secondary-color: #6B1294;
    --color-secondary: #cf8ceea9;
    --secondary-color-hover: #9b3bc7f3;
    --text-color: #0F0F0F;
    --stroker: #a0a0a0;
    --hover-roxo: #e09eff96;
    --hover-stroker: #c0bfbf79;
    --corBranca: #FFFFFF;
    --background-soft-purple: #f3e9fa;
    --form-bg-color: #ffffff;
    --border-radius-sm: 8px;
    --padding-input: 0.9rem 0.75rem;
}

.loginContainer {
    background-color: var(--background-soft-purple);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowLayout {
    display: flex;
    flex-grow: 1;
    width: calc(100% - 40px);
    max-width: 1200px;
    height: calc(100vh - 40px);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: var(--form-bg-color);
}


.containerLeft {
    background-color: var(--form-bg-color);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 2rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


.logo {
    max-width: 280px;
    margin-bottom: 3rem;
}

.loginContainer .containerLeft .form-floating .form-control {
    border-radius: var(--border-radius-sm);
    background-color: transparent;
    border: 1px solid var(--stroker);
    padding: var(--padding-input);
    font-size: 1rem;
    color: var(--text-color);
    height: auto;
    line-height: normal;
}

.loginContainer .containerLeft .form-floating .form-control:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 0.25rem rgba(107, 18, 148, 0.25);
    outline: none;
}

.loginContainer .containerLeft .form-floating label {
    color: var(--stroker);
    position: absolute;
    top: 0.8rem;
    left: 0.75rem;
    padding: 0 0.25rem;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    z-index: 1;
    background-color: transparent;
}

.loginContainer .containerLeft .form-floating .form-control:focus+label,
.loginContainer .containerLeft .form-floating .form-control:not(:placeholder-shown)+label {
    top: -0.6rem;
    left: 0.75rem;
    font-size: 0.8rem;
    color: var(--secondary-color);
    padding: 0 0.25rem;
    background-color: var(--form-bg-color);
}

.welcome {
    color: var(--text-color);
    font-size: 1.4rem;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.forgetPassword {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 0.9rem;
    text-align: right;
    margin-bottom: 1rem;
    text-decoration: none;
    display: block;
}

.forgetPassword:hover {
    text-decoration: underline !important;
}

.btnEntrar {
    border-radius: var(--border-radius-sm) !important;
    background-color: var(--secondary-color) !important;
    color: var(--corBranca) !important;
    padding: 12px !important;
    width: 100% !important;
    font-size: var(--font-size-btn) !important;
    font-weight: 500 !important;
    border: none !important;
    cursor: pointer !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1rem !important;
}

.btnEntrar:hover {
    background-color: var(--secondary-color-hover) !important;
}

.divider {
    text-align: center;
    font-size: 0.9rem;
    color: var(--text-color);
    font-weight: bold;
    position: relative;
    margin: 1.5rem 0;
}

.divider::before,
.divider::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: var(--stroker);
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}


.btnGoogle,
.btnMicrosoft {
    border-radius: var(--border-radius-sm) !important;
    border-color: var(--border-btns) !important;
    padding: 12px !important;
    width: 100% !important;
    font-size: var(--font-size-btn) !important;
    font-weight: 500 !important;
    margin-bottom: 1rem !important;
    background-color: var(--corBranca) !important;
    color: var(--text-color) !important;
}

.btn-google {
    background-color: var(--btn-google-color) !important;
    color: var(--text-color) !important;
}

.btnGoogle:hover {
    background-color: var(--hover-stroker) !important;
}

.btn-microsoft {
    background-color: var(--btn-microsoft-color) !important;
    color: var(--text-color) !important;
}

.btnMicrosoft:hover {
    background-color: var(--hover-stroker) !important;
}

.btnLogo {
    height: 20px;
    /* Ajuste se necessário */
    vertical-align: middle;
}

.pConta {
    color: var(--text-color);
    font-weight: bold;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.btnCadastrar {
    /* O link "Cadastrar-se" */
    color: var(--secondary-color) !important;
    font-weight: bold !important;
    text-decoration: none !important;
}

.btnCadastrar:hover {
    text-decoration: underline !important;
}

.copyright {
    font-weight: lighter;
    color: var(--text-color);
    font-size: 0.8rem;
    margin-top: 5rem;
}